.login-cta{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("bglogin.jpg") no-repeat center;
  background-size: cover;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
