@import "../../index";

.@{prefix}-login-cta{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &-form{
    max-width: 300px;
  }
  &-forgot{
    float: right;
  }
  &-button{
    width: 100%;
  }
}

