.main-cta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.tree-lines{
    position: relative;
    width: 1200px;
    height: 612px;
    overflow: auto;
    border: 1px solid #126547;
}
.tree-nodes{
    position: relative;
    width: 1200px;
    height: 612px;
    overflow: auto;
    border: 1px solid #12ff47;
}
.node circle{
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
/* 文字 */
.node  text{
    font-size: 15px;
    color: black;
}
/* path */
.link{
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}



